@font-face {
    font-family: "editor"; /* Project id 3786277 */
    src:url('./editor.woff') format('woff'),
         url('./editor.woff') format('truetype');
  }
  .ke-inline-block{display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline;font-family: 'editor';}
  .esfont{font-size:16px;color:#999}
  .ke-clearfix{zoom:1}
  .ke-clearfix:after{content:".";display:block;clear:both;font-size:0;height:0;line-height:0;visibility:hidden}
  .ke-shadow{-webkit-box-shadow:0px 0px 8px 3px #f2f3f8;moz-box-shadow:0px 0px 8px 3px #f2f3f8;box-shadow:0px 0px 8px 3px #f2f3f8;background-color:#fff}
  .ke-menu a,.ke-menu a:hover,.ke-dialog a,.ke-dialog a:hover{color:#337FE5;text-decoration:none}
  .ke-container{display:block;border:1px solid #f2f2f2;background-color:#FFF;overflow:hidden;margin:0;padding:0}
  .ke-toolbar{border-bottom:1px solid #f2f2f2;background-color:#fff;padding:0px;text-align:left;overflow:hidden;zoom:1}
  .ke-toolbar-icon{position:relative;width:32px;height:32px;overflow:hidden;display:block}
  .ke-toolbar-icon:before{font-family:'editor';display:block;width:32px;height:32px;position:absolute;left:0;top:0;line-height:32px;text-align:center;color:#333;font-size:14px}
  .ke-icon-source{}
  .ke-icon-source:before{content:"\e604";font-size:16px}
  .ke-icon-preview{}
  .ke-icon-preview:before{content:"\e63c"}
  .ke-icon-print{}
  .ke-icon-print:before{content:"\e60f"}
  .ke-icon-undo{}
  .ke-icon-undo:before{content:"\e609"}
  .ke-icon-redo{}
  .ke-icon-redo:before{content:"\e60a"}
  .ke-icon-cut{}
  .ke-icon-cut:before{content:"\e7cc"}
  .ke-icon-copy{}
  .ke-icon-copy:before{content:"\e617"}
  .ke-icon-paste{}
  .ke-icon-paste:before{content:"\e780"}
  .ke-icon-selectall{}
  .ke-icon-selectall:before{content:"\e648";color:#888}
  .ke-icon-justifyleft{}
  .ke-icon-justifyleft:before{content:"\e62b";color:#888}
  .ke-icon-justifycenter{}
  .ke-icon-justifycenter:before{content:"\e62d";color:#888}
  .ke-icon-justifyright{}
  .ke-icon-justifyright:before{content:"\e62c";color:#888}
  .ke-icon-justifyfull{}
  .ke-icon-justifyfull:before{content:"\e612";color:#888}
  .ke-icon-insertorderedlist{}
  .ke-icon-insertorderedlist:before{content:"\ea3a"}
  .ke-icon-insertunorderedlist{}
  .ke-icon-insertunorderedlist:before{content:"\eb07"}
  .ke-icon-indent{}
  .ke-icon-indent:before{content:"\e644";font-size:16px}
  .ke-icon-outdent{}
  .ke-icon-outdent:before{content:"\e826";font-size:16px}
  .ke-icon-subscript{}
  .ke-icon-subscript:before{content:"\eb0c"}
  .ke-icon-superscript{}
  .ke-icon-superscript:before{content:"\eb0d"}
  .ke-icon-date{}
  .ke-icon-date:before{content:"\e67cc"}
  .ke-icon-time{}
  .ke-icon-time:before{content:"\e67cc"}
  .ke-icon-formatblock{}
  .ke-icon-formatblock:before{content:"\e6e4";font-size:16px}
  .ke-icon-fontname{}
  .ke-icon-fontname:before{content:"\e6db"}
  .ke-icon-fontsize{}
  .ke-icon-fontsize:before{content:"\e623"}
  .ke-icon-forecolor{}
  .ke-icon-forecolor:before{content:"\e655";font-size:16px}
  .ke-icon-hilitecolor{}
  .ke-icon-hilitecolor:before{content:"\e60d"}
  .ke-icon-bold{}
  .ke-icon-bold:before{content:"\edd7"}
  .ke-icon-italic{}
  .ke-icon-italic:before{content:"\e71e"}
  .ke-icon-underline{}
  .ke-icon-underline:before{content:"\e720"}
  .ke-icon-strikethrough{}
  .ke-icon-strikethrough:before{content:"\e6fa"}
  .ke-icon-removeformat{}
  .ke-icon-removeformat:before{content:"\e63d"}
  .ke-icon-image{}
  .ke-icon-image:before{content:"\e63e";font-size:16px}
  .ke-icon-flash{}
  .ke-icon-flash:before{content:"\e67d"}
  .ke-icon-media{}
  .ke-icon-media:before{content:"\e603";font-size:16px}
  .ke-icon-div{}
  .ke-icon-div:before{content:"\e67cc"}
  .ke-icon-formula{}
  .ke-icon-formula:before{content:"\e67cc"}
  .ke-icon-hr{}
  .ke-icon-hr:before{content:"\e616"}
  .ke-icon-emoticons{}
  .ke-icon-emoticons:before{content:"\e67cc"}
  .ke-icon-link{}
  .ke-icon-link:before{content:"\eb05";font-size:16px}
  .ke-icon-unlink{}
  .ke-icon-unlink:before{content:"\eb0f";font-size:16px}
  .ke-icon-fullscreen{}
  .ke-icon-fullscreen:before{content:"\e642"}
  .ke-icon-about{}
  .ke-icon-about:before{content:"\e63f"}
  .ke-icon-plainpaste{}
  .ke-icon-plainpaste:before{content:"\eabe";font-size:16px}
  .ke-icon-wordpaste{}
  .ke-icon-wordpaste:before{content:"\e647";font-size:16px}
  .ke-icon-table{}
  .ke-icon-table:before{content:"\eb0b";font-size:16px}
  .ke-icon-tablemenu{}
  .ke-icon-tablemenu:before{content:"\e830"}
  .ke-icon-tableinsert{}
  .ke-icon-tableinsert:before{content:"\e830"}
  .ke-icon-tabledelete{}
  .ke-icon-tabledelete:before{content:"\e830"}
  .ke-icon-tablecolinsertleft{}
  .ke-icon-tablecolinsertleft:before{content:"\e830"}
  .ke-icon-tablecolinsertright{}
  .ke-icon-tablecolinsertright:before{content:"\e830"}
  .ke-icon-tablerowinsertabove{}
  .ke-icon-tablerowinsertabove:before{content:"\e830"}
  .ke-icon-tablerowinsertbelow{}
  .ke-icon-tablerowinsertbelow:before{content:"\e830"}
  .ke-icon-tablecoldelete{}
  .ke-icon-tablecoldelete:before{content:"\e830"}
  .ke-icon-tablerowdelete{}
  .ke-icon-tablerowdelete:before{content:"\e830"}
  .ke-icon-tablecellprop{}
  .ke-icon-tablecellprop:before{content:"\e830"}
  .ke-icon-tableprop{}
  .ke-icon-tableprop:before{content:"\e830"}
  .ke-icon-checked{}
  .ke-icon-checked:before{content:"\e67cc"}
  .ke-icon-code{}
  .ke-icon-code:before{content:"\ec81";color:#888}
  .ke-icon-map{}
  .ke-icon-map:before{content:"\e67cc"}
  .ke-icon-baidumap{}
  .ke-icon-baidumap:before{content:"\e622";font-size:16px;}
  .ke-icon-lineheight{}
  .ke-icon-lineheight:before{content:"\e71f"}
  .ke-icon-clearhtml{}
  .ke-icon-clearhtml:before{content:"\e629"}
  .ke-icon-pagebreak{}
  .ke-icon-pagebreak:before{content:"\e83c"}
  .ke-icon-insertfile{}
  .ke-icon-insertfile:before{content:"\e600"}
  .ke-icon-quickformat{}
  .ke-icon-quickformat:before{content:"\e66f";font-size:16px}
  .ke-icon-template{}
  .ke-icon-template:before{content:"\e6a9";font-size:16px}
  .ke-icon-tablecellsplit{}
  .ke-icon-tablecellsplit:before{content:"\e830"}
  .ke-icon-tablerowmerge{}
  .ke-icon-tablerowmerge:before{content:"\e830"}
  .ke-icon-tablerowsplit{}
  .ke-icon-tablerowsplit:before{content:"\e830"}
  .ke-icon-tablecolmerge{}
  .ke-icon-tablecolmerge:before{content:"\e830"}
  .ke-icon-tablecolsplit{}
  .ke-icon-tablecolsplit:before{content:"\e830"}
  .ke-icon-anchor{}
  .ke-icon-anchor:before{content:"\e692";font-size:16px}
  .ke-icon-search{}
  .ke-icon-search:before{content:"\e67cc"}
  .ke-icon-new{}
  .ke-icon-new:before{content:"\e67cc"}
  .ke-icon-specialchar{}
  .ke-icon-specialchar:before{content:"\e67cc"}
  .ke-icon-multiimage{}
  .ke-icon-multiimage:before{content:"\e62a";font-size:16px}
  
  .ke-toolbar-icon-url{}
  .ke-toolbar .ke-outline{font-size:0;line-height:0;overflow:hidden;cursor:pointer;display:block;position:relative;float:left;width:32px;height:32px;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;margin:0px;padding: 1px 2px;}
  .ke-toolbar .ke-on{background-color:#f2f2f2}
  .ke-toolbar .ke-on .ke-toolbar-icon:before{color:#06C}
  .ke-toolbar .ke-selected{background-color:#f2f2f2;background-color: #E9EFF6;}
  .ke-toolbar .ke-selected span:before{color:#0073d0}
  .ke-toolbar .ke-disabled{cursor:default}
  .ke-toolbar .ke-separator{margin:0px;border-left:1px solid #f3f3f3;border-top:0;border-bottom:0;width:0;font-size:0;line-height:0;overflow:hidden;display:block;float:left;height:34px}
  .ke-toolbar .ke-hr{overflow:hidden;height:1px;clear:both;}
  .ke-edit{padding:0}
  .ke-edit-iframe,.ke-edit-textarea{border:0;margin:0;padding:0;overflow:auto}
  .ke-edit-textarea{font:12px/1.5 "Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace;color:#000;overflow:auto;resize:none}
  .ke-edit-textarea:focus{outline:none}
  .ke-statusbar{position:relative;background-color:#fff;border-top:1px solid #f2f2f2;font-size:0;line-height:0;*height:12px;overflow:hidden;text-align:center;cursor:s-resize}
  .ke-statusbar-center-icon{width:16px;height:11px;position:relative;display:block;margin:0 auto}
  .ke-statusbar-center-icon:before{font-family:'editor';content:"\e635";display:block;width:16px;height:11px;position:absolute;left:0;top:0;line-height:11px;text-align:center;color:#999;font-size:12px}
  .ke-statusbar-right-icon{position:absolute;right:0;bottom:0;cursor:se-resize;width:11px;height:11px}
  .ke-statusbar-right-icon:before{font-family:'editor';content:"\e652";display:block;width:11px;height:11px;position:absolute;left:0;top:0;line-height:11px;text-align:center;color:#ddd;font-size:12px}
  .ke-menu{border:1px solid #eee;background-color:#fff;color:#222222;padding:0px;font-family:"sans serif",tahoma,verdana,helvetica;font-size:12px;text-align:left;overflow:hidden}
  .ke-menu-item{background-color:#fff;color:#222222;height:32px;overflow:hidden;cursor:pointer}
  .ke-menu-item-on{background-color:#E9EFF6}
  .ke-menu-item-left{width:32px;text-align:center;overflow:hidden}
  .ke-menu-item-center{width:0;height:32px;border-left:1px solid #E3E3E3;border-right:1px solid #FFFFFF;border-top:0;border-bottom:0}
  .ke-menu-item-center-on{border-left:1px solid #E9EFF6;border-right:1px solid #E9EFF6}
  .ke-menu-item-right{border:0;padding:0 0 0 5px;line-height:32px;text-align:left;overflow:hidden}
  .ke-menu-separator{margin:2px 0;height:0;overflow:hidden;border-top:1px solid #CCCCCC;border-bottom:1px solid #FFFFFF;border-left:0;border-right:0}
  .ke-colorpicker{border:1px solid #f2f3f8;background-color:#fff;color:#222222;padding:6px}
  .ke-colorpicker-table{border:0;margin:0;padding:0;border-collapse:separate}
  .ke-colorpicker-cell{font-size:0;line-height:0;border:1px solid #fff;cursor:pointer;margin:3px;padding:0}
  .ke-colorpicker-cell-top{font-family:"sans serif",tahoma,verdana,helvetica;font-size:12px;line-height:24px;border:1px solid #F0F0EE;cursor:pointer;margin:0;padding:0;text-align:center}
  .ke-colorpicker-cell-on{border:1px solid #ddd}
  .ke-colorpicker-cell-selected{border:1px solid #ddd}
  .ke-colorpicker-cell-color{width:14px;height:14px;margin:3px;padding:0;border:0}
  .ke-dialog{position:absolute;margin:0;padding:0}
  .ke-dialog .ke-header{width:100%;margin-bottom:10px}
  .ke-dialog .ke-header .ke-left{float:left}
  .ke-dialog .ke-header .ke-right{float:right}
  .ke-dialog .ke-header label{margin-right:0;cursor:pointer;font-weight:normal;display:inline;vertical-align:top}
  .ke-dialog-content{background-color:#FFF;width:100%;height:100%;color:#333;border:1px solid #f2f3f8}
  .ke-dialog-shadow{position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%;-webkit-box-shadow:0px 0px 8px 3px #f2f3f8;moz-box-shadow:0px 0px 8px 3px #f2f3f8;box-shadow:0px 0px 8px 3px #f2f3f8;background-color:#fff}
  .ke-dialog-header{border:0;margin:0;padding:0 10px;border-bottom:1px solid #f2f3f8;font:12px/40px "sans serif",tahoma,verdana,helvetica;height:40px;font-weight:600;text-align:left;color:#222;cursor:move}
  .ke-dialog-icon-close{display:block;position:absolute;right:6px;top:0px;cursor:pointer;width:30px;height:40px}
  .ke-dialog-icon-close:before{font-family:'editor';content:"\eaf2";font-weight:200;display:block;width:30px;height:40px;position:absolute;left:0;top:0;line-height:40px;text-align:center;color:#000;font-size:14px}
  .ke-dialog-body{font:12px/1.5 "sans serif",tahoma,verdana,helvetica;text-align:left;overflow:hidden;width:100%}
  .ke-dialog-body textarea{display:block;overflow:auto;padding:0;resize:none}
  .ke-dialog-body textarea:focus,.ke-dialog-body input:focus,.ke-dialog-body select:focus{outline:none}
  .ke-dialog-body label{margin-right:10px;cursor:pointer;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline}
  .ke-dialog-body img{display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline}
  .ke-dialog-body select{display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline;width:auto}
  .ke-dialog-body .ke-textarea{display:block;width:408px;height:260px;font-family:"sans serif",tahoma,verdana,helvetica;font-size:12px;border-color:#848484 #E0E0E0 #E0E0E0 #848484;border-style:solid;border-width:1px}
  .ke-dialog-body .ke-form{margin:0;padding:0}
  .ke-dialog-loading{position:absolute;top:0;left:1px;z-index:1;text-align:center}
  .ke-dialog-loading-content{background:url("../common/loading.gif") no-repeat;color:#666;font-size:14px;font-weight:bold;height:31px;line-height:31px;padding-left:36px}
  .ke-dialog-row{margin-bottom:10px}
  .ke-dialog-footer{font:12px/1 "sans serif",tahoma,verdana,helvetica;text-align:right;padding:0 0 5px 0;background-color:#FFF;width:100%}
  .ke-dialog-preview,.ke-dialog-yes{margin:5px}
  .ke-dialog-no{margin:5px 10px 5px 5px}
  .ke-dialog-mask{background-color:#FFF;filter:alpha(opacity=50);opacity:0.5}
  .ke-button-common{background:#f2f2f2;cursor:pointer;height:25px;line-height:25px;overflow:visible;display:inline-block;vertical-align:top;cursor:pointer}
  .ke-button-outer{background-position:0 -25px;padding:0;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline}
  .ke-button{background-position:right -25px;padding:0 14px 0 12px;margin:0 0 0 2px;font-family:"sans serif",tahoma,verdana,helvetica;border:0 none;color:#333;font-size:12px;text-decoration:none}
  .ke-input-text{background-color:#FFFFFF;font-family:"sans serif",tahoma,verdana,helvetica;font-size:12px;line-height:17px;height:17px;padding:2px 4px;border-color:#848484 #E0E0E0 #E0E0E0 #848484;border-style:solid;border-width:1px;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline}
  .ke-input-number{width:50px}
  .ke-input-color{border:1px solid #A0A0A0;background-color:#FFFFFF;font-size:12px;width:60px;height:20px;line-height:20px;padding-left:5px;overflow:hidden;cursor:pointer;display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;*display:inline}
  .ke-upload-button{position:relative}
  .ke-upload-area{position:relative;overflow:hidden;margin:0;padding:0;*height:25px}
  .ke-upload-area .ke-upload-file{position:absolute;font-size:60px;top:0;right:0;padding:0;margin:0;z-index:811212;border:0 none;opacity:0;filter:alpha(opacity=0)}
  .ke-tabs{font:12px/1 "sans serif",tahoma,verdana,helvetica;border-bottom:1px solid #ededed;padding-left:5px;margin-bottom:20px}
  .ke-tabs-ul{list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0}
  .ke-tabs-li{position:relative;border:1px solid #ededed;background-color:#ededed;margin:0 2px -1px 0;padding:0 20px;float:left;line-height:25px;text-align:center;color:#999;cursor:pointer}
  .ke-tabs-li-selected{background-color:#FFF;border-bottom:1px solid #FFF;color:#000;cursor:default}
  .ke-tabs-li-on{background-color:#FFF;color:#000}
  .ke-progressbar{position:relative;margin:0;padding:0}
  .ke-progressbar-bar{border:1px solid #6FA5DB;width:80px;height:5px;margin:10px 10px 0 10px;padding:0}
  .ke-progressbar-bar-inner{width:0;height:5px;background-color:#6FA5DB;overflow:hidden;margin:0;padding:0}
  .ke-progressbar-percent{position:absolute;top:0;left:40%;display:none}
  .ke-swfupload-top{position:relative;margin-bottom:10px;_width:608px}
  .ke-swfupload-button{height:23px;line-height:23px}
  .ke-swfupload-desc{padding:0 10px;height:23px;line-height:23px}
  .ke-swfupload-startupload{position:absolute;top:0;right:0}
  .ke-swfupload-body{overflow:scroll;background-color:#FFFFFF;border-color:#848484 #E0E0E0 #E0E0E0 #848484;border-style:solid;border-width:1px;width:auto;height:370px;padding:5px}
  .ke-swfupload-body .ke-item{width:100px;margin:5px}
  .ke-swfupload-body .ke-photo{position:relative;border:1px solid #DDDDDD;background-color:#FFFFFF;padding:10px}
  .ke-swfupload-body .ke-delete{display:block;background:url(default.png) no-repeat scroll 0px -688px;position:absolute;right:0;top:0;cursor:pointer}
  .ke-swfupload-body .ke-status{position:absolute;left:0;bottom:5px;width:100px;height:17px}
  .ke-swfupload-body .ke-message{width:100px;text-align:center;overflow:hidden;height:17px}
  .ke-swfupload-body .ke-error{color:red}
  .ke-swfupload-body .ke-name{width:100px;text-align:center;overflow:hidden;height:16px}
  .ke-swfupload-body .ke-on{border:1px solid #5690D2;background-color:#E9EFF6}
  .ke-plugin-emoticons{position:relative}
  .ke-plugin-emoticons .ke-preview{position:absolute;text-align:center;margin:2px;padding:10px;top:0;border:1px solid #A0A0A0;background-color:#FFFFFF;display:none}
  .ke-plugin-emoticons .ke-preview-img{border:0;margin:0;padding:0}
  .ke-plugin-emoticons .ke-table{border:0;margin:0;padding:0;border-collapse:separate}
  .ke-plugin-emoticons .ke-cell{margin:0;padding:1px;border:1px solid #F0F0EE;cursor:pointer}
  .ke-plugin-emoticons .ke-on{border:1px solid #5690D2;background-color:#E9EFF6}
  .ke-plugin-emoticons .ke-img{display:block;background-repeat:no-repeat;overflow:hidden;margin:2px;width:24px;height:24px;margin:0;padding:0;border:0}
  .ke-plugin-emoticons .ke-page{text-align:right;margin:5px;padding:0;border:0;font:12px/1 "sans serif",tahoma,verdana,helvetica;color:#333;text-decoration:none}
  .ke-plugin-plainpaste-textarea,.ke-plugin-wordpaste-iframe{display:block;width:408px;height:260px;font-family:"sans serif",tahoma,verdana,helvetica;font-size:12px;border-color:#848484 #E0E0E0 #E0E0E0 #848484;border-style:solid;border-width:1px}
  .ke-plugin-filemanager-header{width:100%;margin-bottom:10px}
  .ke-plugin-filemanager-header .ke-left{float:left}
  .ke-plugin-filemanager-header .ke-right{float:right}
  .ke-plugin-filemanager-body{overflow:scroll;background-color:#FFFFFF;border-color:#848484 #E0E0E0 #E0E0E0 #848484;border-style:solid;border-width:1px;width:auto;height:370px;padding:5px}
  .ke-plugin-filemanager-body .ke-item{width:100px;margin:5px}
  .ke-plugin-filemanager-body .ke-photo{border:1px solid #DDDDDD;background-color:#FFFFFF;padding:10px}
  .ke-plugin-filemanager-body .ke-name{width:100px;text-align:center;overflow:hidden;height:16px}
  .ke-plugin-filemanager-body .ke-on{border:1px solid #5690D2;background-color:#E9EFF6}
  .ke-plugin-filemanager-body .ke-table{width:95%;border:0;margin:0;padding:0;border-collapse:separate}
  .ke-plugin-filemanager-body .ke-table .ke-cell{margin:0;padding:0;border:0}
  .ke-plugin-filemanager-body .ke-table .ke-name{width:55%;text-align:left}
  .ke-plugin-filemanager-body .ke-table .ke-size{width:15%;text-align:left}
  .ke-plugin-filemanager-body .ke-table .ke-datetime{width:30%;text-align:center}
  .ke-icon-uploadimage{background-position:0px -1232px}
  a.ke-selectPic:link,a.ke-selectPic:visited,a.ke-selectPic:hover,a.ke-selectPic:active{display:inline-block;width:70px;height:26px;line-height:26px;font-size:12px;color:#000;text-align:center;background-color:#f2f2f2}
  .ke-none{display:none}
  .ke-piclist{width:110px;height:130px;float:left;margin:3px;position:relative}
  .ke-picact{position:absolute;top:6px;left:6px;background-color:#06F;color:#FFF;z-index:101;display:none}
  .ke-picdel{position:absolute;top:3px;right:3px;cursor:pointer;color:#333;z-index:99;width:16px;height:16px;font-family:'editor';font-size:14px;line-height:16px;text-align:center}
  .ke-picdel:hover{color:#fff;background:#ff0000}
  .ke-pictu{border:1px solid #DDDDDD;background-color:#FFFFFF;padding:5px;position:relative;width:98px;height:98px}
  .ke-pictu img{width:98px;height:98px;display:block;position:absolute;z-index:1}
  .ke-pictu span,.ke-pictu em{width:92%;display:block;position:absolute;bottom:5px;right:5px;text-align:center;height:20px;font-style:normal;color:#333;z-index:10;background:rgba(255,255,255,0.8);webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
  .ke-pictu em{background-color:#fff;color:#09F}
  .ke-pictext{text-align:center;font-size:12px;line-height:20px;width:110px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
  .ke-blur{-webkit-filter：blur(1px);filter:blur(1px)}
body{background: #222222;}
